<div class="k-container" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="5px">
  <mat-toolbar color="primary">
    <span>MY TITLE</span>
    <div fxFlex fxFlexFill></div>
    <div>
      <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #appMenu="matMenu">
        <button mat-menu-item>Settings</button>
        <button mat-menu-item>Help</button>
        <mat-divider></mat-divider>
        <button mat-menu-item>Logout</button>
      </mat-menu>
    </div>
  </mat-toolbar>
  <div fxFlex fxFlexFill>
      My Content 1
  </div>
  <mat-toolbar color="primary">
    <div fxLayout="row" fxLayoutAlign="center center" style="width: 100%" >
      All Rights Reserved 2014-2018 @ Karthik Prasad
    </div>
  </mat-toolbar>
</div>